* {
  margin: 0px;
}
.password-manager-bg-container {
  background-image: linear-gradient(#9ba9eb, #c3caea);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
}
.app-logo {
  width: 150px;
  margin-bottom: 15px;
}
.password-bottom-container {
  display: flex;
  flex-direction: column;
}
.form-card-container {
  background-color: #5763a5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 30px;
  margin: 10px;
}
.password-manager {
  width: 350px;
}
.form-password-container {
  background-color: #454f84;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  border-radius: 12px;
  margin-right: 55px;
}
.heading {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}
.website-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 15px;
}
.website-logo {
  width: 20px;
  background-color: #fff;
  margin-right: 4px;
}
.website-input {
  display: flex;
  justify-content: center;
  font-size: 14px;
  outline: none;
  border: none;
  padding-right: 65px;
  width: 100%;
  margin-left: 8px;
}
.line {
  height: 25px;
  color: #000;
}
.add-button {
  background-color: #0b69ff;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 600;
  margin-left: 75%;
}
.form-bottom-card-container {
  background-color: #5763a5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 30px;
  margin: 10px;
}
.password-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password-heading {
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: 800;
  color: #fff;
  margin-right: 100px;
}
.search-results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-left: 50px;
}
.search-results {
  width: 25px;
}
.search-input {
  display: flex;
  justify-content: center;
  font-size: 14px;
  outline: none;
  border: none;
  padding-right: 65px;
  width: 100%;
  margin-left: 8px;
}
.border-line {
  width: 100%;
}
.show-password-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 500px;
  margin-top: 10px;
}
.show-password-button {
  background: transparent;
  border: none;
}
.show-password-heading {
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
}
.list-items {
  display: flex;
  flex-wrap: wrap;
}
.no-password-heading {
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 600;
}
.count-list-items {
  border-radius: 50%;
  border: 1px solid;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
}
.password-container {
  display: flex;
  justify-content: center;
}